/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styling */

body {
    display: flex;
    color: #B9DAF4;
    font-family: "lexend", sans-serif;
}
h1, h2, h3 {
    text-transform: capitalize;
}
/* Header */
header {
    background: url(../images/logo.webp);
    width: 100%;
    height: 90vw;
    
}
#logo {
   /* background: url(../images/logo.webp);
    width: 100%;
    height: auto; */

}